.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.o
*.so
*.so.0
*.a
*.dll
*.cmake
CMakeFiles
CMakeCache.txt
Makefile
STGAsepriteTest
STGAsepriteTest.exe
valgrind.txt
